* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* HEADER */

header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
}

.logo {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a {
    border: none;
    border-radius: 20px;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.menu a:hover {
    transform: scale(1.05);
}

.inicio-sesion {
    background-color: white;
    color: black;
}

.inicio-sesion:hover {
    background: linear-gradient(120deg, #b3b3b3, white, #b3b3b3);
}

.crear-cuenta {
    background-color: #000000;
    color: white;
}

.crear-cuenta:hover {
    background: linear-gradient(120deg, #3d3d3d, #696969, #3d3d3d);
}

.hamburguesa {
    padding: 10px;
    font-size: 25px;
}


/* PRINCIPAL */

.principal {
    min-height: calc(100vh - 65px);
    background-color: #5bc0eb;
    padding-top: 30px;
    text-align: center;
}


/* SELECTOR */

.selector {
    display: inline-flex;
    background-color: #8bd3f5;
    border-radius: 50px;
    padding: 4px;
}

.selector button {
    border: none;
    border-radius: 50px;
    padding: 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.selector .personal {
    background-color: white;
    color: black;
}

.selector button:hover {
    transform: scale(1.05);
    background-color: #83c8e7;
}


/* TITULO */

h1 {
    font-size: 36px;
    margin-top: 60px;
    font-weight: bold;
}


/* TARJETA */

.tarjeta {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    width: 300px;
    height: 400px;
    display: inline-block;
    box-shadow: 5px 5px 15px #0006;
    border-radius: 25px;
    background-color: white;
    padding: 0px;
}

.tarjeta h2 {
    margin: 15px;
}

.tarjeta img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-view-box: inset (0%);
    transition: all 1.75s;
}


/* FOOTER */

footer {
    background-color: black;
    color: #00a8e8;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 13px;
}
